<div class="row">
  <div class="col-sm-4 first">
    <div class="card" style="width: 20rem;">
<img class="card-img-top" src="images/shape 9-2x.png" alt="Card image cap">
<div class="card-block">
<h4 class="card-title">Profile</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="#" class="btn btn-primary text-capitalize" id="profieP">profile</a>
</div>
</div>
  </div>
  <div class="col-sm-4 ">
    <div class="card" style="width: 20rem;">
<img class="card-img-top " src="images/shape 5 copy-2x.png" alt="Card image cap">
<div class="card-block">
<h4 class="card-title">Profile</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="" class="btn btn-primary text-capitalize">profile</a>
</div>
</div>
  </div>
  <div class="col-sm-4 last">
    <div class="card" style="width: 20rem;">
<img class="card-img-top" src="images/shape 7-2x.png" alt="Card image cap">
<div class="card-block">
<h4 class="card-title ">Profile</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="#" class="btn btn-primary text-capitalize">profile</a>
</div>
</div>
  </div>
</div>
