<div class="row profile-page">
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 6.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 2.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 3.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 6.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 2.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy 3.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card profile-card" style="width: 20rem;">
      <img class="card-img-top" src="images/profile_page/shape 15 copy.svg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Profile</h4>
        <ul class="list-inline">
     <li><img src="images/profile_page/shape 16 copy 4.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 3.svg" alt=""></li>
     <li><img src="images/profile_page/shape 16 copy 2.svg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>

  </div>
</div>
